.image-upload {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 20px auto;
}

progress {
    width: 150px;
    margin-right: 10px;
}

.captionInput {
    margin: 15px;
    width: 200px;
}

.fileButton {
    margin-left: auto;
    margin-right: auto;
}