.post {
    max-width: 750px;
    background-color: transparent;
    margin-bottom: 35px;
    border-radius: 4px;;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;;
}

.postHeader {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.postAvatar {
    margin-right: 5px;
}

.postImage {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid #000;
    background-color: #fff;
}

.postText {
    font-weight: normal;
    padding: 10px 5px;
    border: 1px solid lightgray; 
}

.post-comments {
    color: #C51162;
    min-height: 5vh;
    padding-top: 10px;
    padding-left: 10px;
    border: 0.5px solid #fff;
}

.comment-box {
    display: flex;
    border-radius: 4px;;
}
.post-input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post-button {
    flex: 0;
    border-top: 1px solid lightgray;
}