* {
  margin: 0;
}

.app {
  background-color: #181A20;
  color: #fff;
}

.app-header {
  background-color: #fff;
  object-fit: contain;
  padding: 25px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;

}

.app-header-image {
  object-fit: contain;
}

.app-sign-up {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
}

.app-posts {
  display: flex;
  padding: 15px;
}

.posts-left {
  margin-left: 10vw;
}

.posts-right {
  margin-top: 8vh;
  margin-left: 5vw;
}