* {
  margin: 0;
}

.app {
  background-color: #30495D;
}

.app-header {
  background-color: #fff;
  object-fit: contain;
  padding: 25px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;

}

.app-header-image {
  object-fit: contain;
}

.app-sign-up {
  display: flex;
  flex-direction: column;
}

.app-posts {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}